/*1. BLANKING --------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

/*a few little normalize bits (see above) for various browsers*/
section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

[hidden] {
  display: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* VARIABLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*colours--------------------------------------------*/
h1 {
  color: #1481b8; }

h2 {
  color: #1481b8; }

h3 {
  color: #b81481; }

/*these are all little hacks :) means the main colour can be as light or saturated as you like*/
/*White is main colour but with 98% lightness */
/*Grey is main colour but with 5% saturation*/
/*Black is main colour but with 5% brightness*/
html {
  background-color: #f1f9fd;
  color: #05202e; }

/*very simple spacing---------------------------------*/
body > .wrapper {
  width: 90%;
  max-width: 920px;
  margin: 0px auto; }

/* NESTING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*typography ----------------------------------------*/
/*CSS properties*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: normal; }

/*Elements: can reference parent*/
nav > a {
  text-decoration: none;
  padding: 10px; }
  nav > a:hover {
    color: #b81481; }

/* MIXINS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*button styles*/
html input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  display: inline-block;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #b81481;
  border: 4px solid #8a0f61;
  padding: 8px 10px;
  color: #f1f9fd;
  font-size: 1.4em; }

html input[type="button"],
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
  cursor: pointer; }

/*no pointer on disabled buttons*/
button[disabled], input[disabled] {
  cursor: default; }

/*@MEDIA~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*@EXTEND ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.article h2, .promo h2 {
  color: #1481b8; }

.promo h2 {
  color: #b81481; }

/*headers*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 20px 0px; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.24em; }

h3 {
  font-size: 1.82em; }

h4 {
  font-size: 1.54em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 2.24em;
  color: #47eb7e; }

/*text styling*/
p {
  font-size: 1.4em;
  line-height: 1.3;
  margin: 20px 0px; }

.lede, p.lede {
  font-size: 110%; }

.feature-text {
  font-weight: bold;
  font-style: italic; }

strong, b {
  font-weight: bold; }

em, i, dfn, var {
  font-style: italic; }

dfn, abbr, abbr[title] {
  border-bottom: 1px dotted #61686b; }

ins {
  border: 1px dotted #61686b;
  border-width: 0px 1px;
  padding: 0px 3px;
  text-decoration: none;
  background-color: rgba(97, 104, 107, 0.15); }

small {
  font-size: 80%; }

del {
  text-decoration: line-through; }

mark {
  background-color: yellow;
  padding: 0px 3px; }

kbd, code, samp, pre {
  font-family: monospace;
  font-size: 120%; }

code {
  background-color: rgba(20, 129, 184, 0.15);
  padding: 0px 3px; }

pre code {
  background: none; }

/*Prevents `sub` and `sup` affecting `line-height` in all browsers.*/
sub, sup {
  font-size: 0.8em;
  line-height: 0;
  vertical-align: baseline;
  position: relative; }

sub {
  top: -0.5em; }

sup {
  bottom: -0.25em; }

address, time {
  font-size: 1.4em;
  display: block;
  margin: 20px 0px; }

ul {
  list-style: inside; }
  ul li {
    font-size: 1.4em;
    padding-bottom: 10px; }

dl dt, dl dd {
  font-size: 1.4em; }
dl dd {
  margin-bottom: 10px;
  text-indent: 20px; }

blockquote {
  background: rgba(71, 235, 126, 0.15);
  padding: 20px 20px 20px 80px;
  overflow: auto;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.8);
  font-style: italic; }
  blockquote:before {
    content: 'â';
    float: left;
    font-size: 200%;
    margin-left: -40px; }
  blockquote:after {
    content: attr(cite);
    display: block;
    text-align: right;
    font-size: 72%; }

form {
  width: 80%;
  margin: 0px auto; }
  form .form-field label, form .form-field input, form .form-field textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.4em; }
  form .form-field input, form .form-field textarea {
    border: 4px solid rgba(97, 104, 107, 0.5); }
  form .form-field textarea {
    min-height: 200px; }
  form input[type="submit"] {
    float: right; }

/*links*/
a {
  color: #1481b8;
  font-weight: normal;
  font-size: 1.4em; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    color: #19a1e6; }

p a, h1 a, address a, ul a, ol a, dl a, menu a {
  font-size: 100%; }

/*code blocks*/
pre {
  background-color: #05202e;
  margin: 20px 20px;
  padding: 20px 20px;
  color: #f1f9fd;
  text-shadow: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

.wrapper > footer {
  padding-top: 10px;
  text-align: right; }
