/*1. BLANKING --------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*a few little normalize bits (see above) for various browsers*/
section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary {display:block;}
audio, canvas, video {display:inline-block;}
[hidden] {display:none;}
/* remember to define focus styles! */
:focus {outline: 0;}


/* VARIABLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*colours--------------------------------------------*/
$colour:hsla(200,80%,40%,1);
$secondaryColour:adjust-hue($colour,120);
$accentColour:invert($secondaryColour);

h1 {color:$colour;}
h2 {color:$colour;}
h3 {color:$secondaryColour;}
//h4 {color:$;}

/*these are all little hacks :) means the main colour can be as light or saturated as you like*/ 
/*White is main colour but with 98% lightness */
$white:darken(lighten($colour,100%),3%);
/*Grey is main colour but with 5% saturation*/
$grey:saturate(desaturate($colour,100%), 5%);
/*Black is main colour but with 5% brightness*/
$black:lighten(darken($colour,100%),10%);

html {
    background-color:$white;
    color:$black;
}

/*very simple spacing---------------------------------*/
$gutter:20px;
$column:80px;

$fullWidth:(($gutter+$column)*9)+$gutter;
body > .wrapper {
    width:90%; max-width:$fullWidth; margin:0px auto;
}

//$mainColWidth:($gutter+$column)*6;
//section[role="main"] {width:$mainColWidth; float:left; overflow:hidden;}

//$asideWidth:($gutter+$column)*3;
//.wrapper > aside {width:$asideWidth; float:right; overflow:hidden;}

/* NESTING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*typography ----------------------------------------*/
$font:'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontSize:1.4em;

$verticalSpace:20px;

/*CSS properties*/
body {
    font: {
        family: $font;
        size: $fontSize;
        weight: normal;
    }
}

/*Elements: can reference parent*/
nav {
//    background:$accentColour;
    >a {
        text-decoration:none;
        padding:10px;
        &:hover {color:$secondaryColour;}
    }
}

/* MIXINS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@mixin button-style($argColour:$secondaryColour) {
    background-color:$argColour;
    border:4px solid darken($argColour, 10%);
    padding:8px 10px;
    color:$white;
    font-size:$fontSize;
}

/*button styles*/
html input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
    display:inline-block; text-decoration:none; font-family:$font;
    @include button-style();
}
html input[type="button"],
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {cursor:pointer;}
/*no pointer on disabled buttons*/
button[disabled], input[disabled] {cursor:default;}


/*@MEDIA~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// line 59    @media all and (max-width: 860px) {width:100%;}


/*@EXTEND ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.article {
    h2 {color:$colour;}
}
.promo {
    @extend .article;
    h2 {color:$secondaryColour;}

}

/*headers*/
header {}
h1, h2, h3, h4, h5, h6 {font-weight:normal; margin:$verticalSpace 0px;}
h1 {font-size:$fontSize*2;}
h2 {font-size:$fontSize*1.6;}
h3 {font-size:$fontSize*1.3;}
h4 {font-size:$fontSize*1.1;}
h5 {font-size:$fontSize*1;}
h6 {font-size:$fontSize*1.6; color:$accentColour;}

@mixin word-wrap {white-space:pre; white-space:pre-wrap; word-wrap:break-word;}

/*text styling*/
p {font-size:$fontSize; line-height:1.3; margin:$verticalSpace 0px;}
.lede, p.lede {font-size:110%;}
.feature-text {font-weight:bold; font-style:italic;}
strong, b {font-weight:bold;}
em, i, dfn, var {font-style:italic;}
dfn, abbr, abbr[title] {border-bottom:1px dotted $grey;}
ins {border:1px dotted $grey; border-width:0px 1px; padding:0px 3px; text-decoration:none; background-color:transparentize($grey,0.85);}
small {font-size:80%;}
del {text-decoration:line-through;}
mark {background-color:yellow; padding:0px 3px;}
kbd, code, samp, pre {font-family:monospace; font-size:120%;}
code {background-color:transparentize($colour,0.85); padding:0px 3px;}
pre code {background:none;}
/*Prevents `sub` and `sup` affecting `line-height` in all browsers.*/
sub, sup {font-size:0.8em; line-height:0; vertical-align:baseline; position:relative;}
sub {top:-0.5em;}
sup {bottom:-0.25em;}
address, time {font-size:$fontSize; display:block; margin:$verticalSpace 0px;}
ul {
    list-style:inside;
    li {font-size:$fontSize; padding-bottom:$verticalSpace/2;}
}
dl {
    dt, dd {font-size:$fontSize;}
    dt {}
    dd {margin-bottom:$verticalSpace/2; text-indent:$gutter;}
}
blockquote {
    background:transparentize($accentColour,0.85);
    padding:$verticalSpace $gutter $verticalSpace $gutter*4;
    overflow:auto;
    border-radius:2px; box-shadow:0px 0px 1px 0px rgba(50,50,50,0.8);
    font-style:italic;
    &:before {content:'❝'; float:left; font-size:200%; margin-left:-$gutter*2;}
    &:after {
        content:attr(cite);
        display:block;
        text-align:right; font-size:72%;
    }
}
form {
    width:80%;
    margin:0px auto;
    .form-field {
        label, input, textarea {
            display:block;
            width:100%; box-sizing:border-box;
            padding:10px; margin-bottom:20px;
            font-size:$fontSize;
        }
        input, textarea {border:4px solid transparentize($grey,0.5);}
        textarea {min-height:200px;}
    }
    input[type="submit"] {float:right;}
}
/*links*/
a {
    color:$colour; font-weight:normal; font-size:$fontSize;
    &:focus {outline: thin dotted;}
    &:hover, &:active {color:lighten($colour,10%);}
}

p a, h1 a, address a, ul a, ol a, dl a, menu a {font-size:100%;}
/*code blocks*/
pre {background-color:$black; margin:$verticalSpace $gutter; padding:$verticalSpace $gutter; color:$white; text-shadow:none; @include word-wrap;}

.wrapper {
    &>footer {padding-top:10px;
        text-align:right;
        //width:$fullWidth;
    }
}
